.book-hero {
    h2 {
        letter-spacing: 2px;
        text-shadow: 0em 0.1em 0.1em rgba($black, 0.4);
        margin-bottom: 30px;
        @include min-screens {
            margin-bottom: 40px;
        }
    }
    h3 {
        letter-spacing: 2px;
        @include min-screens {
            font-size: 24px;
            letter-spacing: 8px;
        }
    }
}

.book-call {
    h2 {
        margin-bottom: 30px;
        @include min-screens {
            margin-bottom: 40px;
        }
    }
    p {
        @include min-screens {
            font-size: 20px;
        }
    }
    .cta {
        margin-top: 30px;
        @include min-screens {
            margin-top: 40px;
        }
    }
}