#main-content {
	@include max-screens(991px) {
		padding-top: 80px;
	}

	&.hide-header {
		padding-top: 0 !important;
	}
}

.wp-block-columns {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;

	h1 {
		text-transform: uppercase;
	}

	h2 {
		margin-top: 2rem;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.wp-block-column {
		@include max-screens {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}

.wp-block-button {
	margin: 1rem 0;
	a {
		@include cta;
		max-width: 100%;
		text-transform: uppercase;
		letter-spacing: 3px !important;
		background: $orange;
		color: #fff;
        &:hover {
            background: $blue;
        }
	}
}

.wp-block-cover {
	h1, h2 {
		text-transform: uppercase;
	}
}

.wp-block-image {
	img {
		height: auto;
	}
}

.anchorlinks {
	a {
		text-transform: uppercase;
		color: rgba($black, 0.6);
		text-decoration: none;
		transition: .2s;

		&:hover {
			color: $orange;
		}
	}

}