$path: '../fonts/';
@font-face {
    font-family: 'URW Geometric';
    src: url('#{$path}/URWGeometric-Regular.woff2') format('woff2'),
    url('#{$path}/URWGeometric-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URW Geometric';
    src: url('#{$path}/URWGeometric-SemiBold.woff2') format('woff2'),
    url('#{$path}/URWGeometric-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URW Geometric';
    src: url('#{$path}/URWGeometric-Bold.woff2') format('woff2'),
    url('#{$path}/URWGeometric-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URW Geometric';
    src: url('#{$path}/URWGeometric-ExtraBold.woff2') format('woff2'),
    url('#{$path}/URWGeometric-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'URW Geometric';
    src: url('#{$path}/URWGeometric-Heavy.woff2') format('woff2'),
    url('#{$path}/URWGeometric-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}