.bar-go {
    background: linear-gradient(to right, #F18521, #E41E2D);
    padding: 45px 0;
    position: relative;
    h2 {
        color: #fff;
        font: 700 36px $pop;
    }
    .cta {
        color: #f15e47;
    }
    &:before,
    &:after {
        background: linear-gradient(to right, #1e83ec 0%, #f6653c 100%);
        content: '';
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
}