.top-nav {
    background: $grey;
    height: 40px;
    padding: 10px 15px;
    ul {
        li {
            color: $white;
            font: 16px/1 $pop;
            margin-right: 15px;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.sub-nav {
    position: sticky;
    top: 0;
    z-index: 99999;

    &.bg-orange {
        background: $orange;
        
        li a {
            position: relative;
            top: 2px;
            margin: 0;
            padding: 9px 2rem;
            letter-spacing: 3px;
            font-weight: 900;
            -webkit-font-smoothing: antialiased;
            transition: .2s;

            &:hover {
                background: darken($orange, 5%);
            }
        }
    }
}

.admin-bar {
    .sub-nav {
        top: 32px;
    }
}

.header {
    background: $white;
    left: 0;
    // position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    .navbar {
        height: 80px;
        padding: 5px 15px;
        @include min-screens(992px) {
            padding: 5px 30px;
        }
        .main-nav {
            position: relative;
            &.clicked {
                .nav {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
            }
        }
        .nav {
            @include max-screens {
                display: none;
            }
            li {
                color: $grey;
                font: 16px/1 $pop;
                @include max-screens {
                    padding: 15px 0;
                    text-align: center;
                }
                @include min-screens {
                    color: $black;
                    font-size: 14px;
                    letter-spacing: 3px;
                }
                a {
                    @include min-screens {
                        display: block;
                        padding: 10px;
                    }
                    transition: opacty 0.4s ease;
                    @include min-screens(1280px) {
                        padding: 10px 20px;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
                @include min-screens {
                    &.active {
                        a {
                            position: relative;
                            &:after {
                                background: $orange;
                                content: '';
                                height: 5px;
                                left: 20px;
                                position: absolute;
                                top: 52px;
                                width: calc(100% - 40px);
                            }
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .icon {
            .ham {
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                span {
                    background: $black;
                    display: block;
                    height: 3px;
                    width: 20px;
                    &+span {
                        margin-top: 3px;
                    }
                }
            }
            .icon-cross {
                display: none;
                font-size: 24px;
                font-weight: 900;
                margin-right: 20px;
            }
            &.clicked {
                .ham {
                    display: none;
                }
                .icon-cross {
                    display: block;
                }
            }
        }
        .srhbox {
            background: $white;
            display: none;
            height: 100%;
            left: 20px;
            position: absolute;
            top: 0;
            width: calc(100% - 20px);
            input {
                color: $black;
                font: 14px/1 $pop;
                letter-spacing: 3px;
                outline: 0 none!important;
            }
            button {
                font-size: 16px;
            }
            .close-srh {
                cursor: pointer;
                margin-left: 10px;
                font-weight: 700;
            }
            .autocomplete {
                display: none !important;
            }
        }
        .srhcall {
            cursor: pointer;
            font-size: 16px;
            height: 18px;
            width: 18px;
        }
        &.openmob {
            .main-nav {
                position: static;
                .mob-wrap {
                    background: $white;
                    border-top: 3px solid $black;
                    left: 0;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    z-index: 99999;
                    .nav {
                        display: block;
                        li {
                            border-bottom: 1px solid rgba($black, 0.1);
                            &:first-child {
                                border-top: 0 none;
                            }
                        }
                    }
                }
            }
        }
    }


    a {
        color: inherit;
        text-decoration: none;
    }
}