@mixin max-screens($size:767px) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin min-screens($size:768px) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin cta {
    padding: 10px 15px;
    border: 0;
    border-radius: 3px;
    color: $linkblue;
    font: 700 13px $pop;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.2s;
    @include min-screens {
        font-size: 15px;
        letter-spacing: 4px;
        padding: 15px 20px;
        white-space: nowrap;
    }
    .icon {
        margin-right: 8px;
        svg {
            fill: $white;
        }
    }
    &.white {
        background-color: $white;
    }
    &.blue {
        background-color: $blue;
    }
    &.gold {
        background-color: $gold;
    }
    &.red {
        background-color: $red;
    }
    &.lightblue {
        background: $linkblue;
    }
    &.orange {
        background: $orange;
        &:hover {
            background: $blue;
        }
    }
    &.orangegrad {
        background: linear-gradient(180deg, #e09900 0%, #e40028 100%);
        &:hover {
            background: linear-gradient(180deg, #e40028 0%, #e09900 100%);
        }
    }
    &.bod {
        border: 2px solid $orange;
    }
    &.bodred {
        border: 2px solid $red;
    }
    &.white-red-text {
        color: $white;
        &:hover {
            color: $red!important;
        }
    }
    &.red-white-text {
        color: $red;
        &:hover {
            color: $white;
        }
    }
    &.red-white-color {
        background: $red;
        &:hover {
            background: $white;
        }
    }
    &.bigger {
        font-size: 14px;
        @include min-screens {
            font-size: 20px;
        }
    }
    &:hover {
        background: $orange;
        color: $white!important;
    }
}