.program-img {
    border: 1px solid rgba($black, 0.3);
    border-radius: 6px;
    margin-top: 30px;
    overflow: hidden;
    @include min-screens {
        margin-top: 0;
    }
}

.program-meta {
    @extend .promotional-hero;
    @include min-screens {
        .cta {
            margin-top: 60px;
        }
    }
}

.accordions {
    h3 {
        font-size: 24px;
        letter-spacing: 2px;
    }
    .acc-box {
        border-bottom: 1px solid $white;
        .acc-head {
            cursor: pointer;
            position: relative;
            padding: 10px 40px 10px 15px;
            h4,.h4 {
                color: $white;
                font: 18px $pop;
                margin-bottom: 0;
                letter-spacing: initial;
            }
            .arrow {
                position: absolute;
                width: 16px;
                height: 16px;
                bottom: 50%;
                right: 15px;
                transform: translateY(50%);
                &:before,
                &:after {
                    background: #fff;
                    bottom: 50%;
                    border-radius: 5px;
                    content: '';
                    position: absolute;
                    right: 50%;
                    transform: translate(50%, 50%);
                }
                &:after {
                    height: 16px;
                    width: 2px;
                }
                &:before {
                    height: 2px;
                    width: 16px;
                }
            }
        }
        .acc-content {
            background: rgba($white, 0.2);
            display: none;
            padding: 15px;
            p, ul li {
                color: $white;
                font-size: 16px;
                line-height: 1.4;
                margin-top: 15px;
                &:first-child {
                    margin-top: 0;
                }
            }

            a {
                color: $orange;

                &:hover {
                    color: darken($orange, 10%);
                }
            }
        }
        &.clicked {
            .acc-head {
                .arrow {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
    [class*="col-"] {
        .acc-box {
            background-color: $blue;
        }
        &:nth-child(2) {
            .acc-box {
                background-color: $grey;
            }
        }
    }
}

.get-cta {
    background: url(../images/get-bg.jpg);
    background-size: cover;
    padding: 80px;
    @include min-screens {
        padding: 150px;
    }
}