$white:#fff;
$black:#000;
$blue: #0c71c3;
$green: #16ad00;
$gold: #f7a57c;
$grey: #2b2b2b;
// $orange: #f16a1f;
$orange: #f25000;
// $aodaorange: #D14600;
$linkblue: #0050a4;
$darkred: #7b1629;
$red: #e02b20;
$yellow: #ccaa00;
$pop: 'URW Geometric',
sans-serif;
$right: 'URW Geometric',
cursive;