.video-slider {
        margin-bottom: 2rem;
        .embed-container {
                position: relative; 
                padding-bottom: 56.25%;
                overflow: hidden;
                max-width: 100%;
                height: auto;
        
                iframe,object,embed {
                	position: absolute;
                	top: 0;
                	left: 0;
                	width: 100%;
                	height: 100%;
                }
        }

        .owl-dots {
            margin: 30px 0 50px;
            text-align: center;
            .owl-dot {
                margin: 0 5px;
                span {
                    background: rgba($orange, 0.4);
                    border-radius: 50%;
                    display: block;
                    height: 6px;
                    width: 6px;
                }
                &.active {
                    span {
                        background: #000;
                        border: 5px solid #000;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
}      