@import 'body';
@import 'gutenberg';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'header';
@import 'jumbo';
@import 'hero';
@import 'view';
@import "breadcrumbs";
@import 'gobar';
@import 'members';
@import 'blog';
@import 'content';
@import 'forms';
@import 'contact';
@import 'proprogram';
@import 'program';
@import 'onlycopy';
@import "owlcarousel";
@import 'slide';
@import 'call';
@import 'getcert';
@import 'landing';
@import 'bio';
@import 'timeline';
@import 'footer';
@import 'video-slider';
@import 'modal';
@import 'search';
@import 'transcript';

.container {
    max-width: 1200px;
}

body {
    &.landing {
        background: url(../images/bg-nie-gold-mine-1.jpg);
        // background-size: cover;
        position: relative;
    }
}